.pokedex-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokedex {
  align-content: space-around;
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin: auto;
  margin-top: 50px;
  min-width: 350px;
  padding-bottom: 30px;
  width: 30%;
}

.pokedex-title {
  color: white;
  font-weight: 800;
  padding-top: 20px;
  text-align: center;
}